<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anhntph10246.quanlychitieu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BieuDoActivity"></activity>
        <activity android:name=".ThemLoaiChiActivity" />
        <activity android:name=".ListLoaiChiActivity" />
        <activity android:name=".ChiTieuActivity" />
        <activity android:name=".TimKiemActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThemLoaiThuActivity" />
        <activity android:name=".ListLoaiThuActivity" />
        <activity android:name=".ThuNhapActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>